img {
  width: 30%;
  height: auto;
  display: block;
  margin: auto, 0;
}

.hidden1 {
  display: none;
}

.hidden2 {
  display: none;
}

.hidden3 {
  display: none;
}

.hidden4 {
  display: none;
}

.hidden5 {
  display: none;
}

.hidden6 {
  display: none;
}